{% extends 'customer_app/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Projects</h1>
    {% comment %} <p>project module coming soon...</p> {% endcomment %}

     <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Customer</th>
                <th>Status</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.customer.first_name }} {{ project.customer.last_name }}</td>
                <td>{{ project.status }}</td>
                <td>{{ project.start_date }}</td>
                <td>{{ project.end_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}